/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sass utilities */
/*Mixins*/
/* menu */
/* Base stuff */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #232323;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}

.section {
  overflow: hidden;
}

.container {
  width: 960px;
  margin: auto;
}

.title-main, .title-second {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 54px;
}
.title-main-head, .title-second-inner {
  position: relative;
  display: inline-block;
}
.title-main-head:before, .title-second-inner:before, .title-main-head:after, .title-second-inner:after {
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  width: 1500px;
  background: #ffe400;
}
.title-main-head:before, .title-second-inner:before {
  right: 100%;
  margin-right: 5px;
}
.title-main-head:after, .title-second-inner:after {
  left: 100%;
  margin-left: 5px;
}

.title-second {
  line-height: 37px;
}
.title-second-inner-subtitle {
  position: absolute;
  top: -23px;
  left: -17%;
  font-size: 30px;
  font-weight: 300;
}
.title-second-inner-head {
  line-height: 1;
  font-size: 37px;
}

/* Layout related stylesheets* */
.header {
  background: #ffe400;
  padding: 5px 0 15px;
  text-align: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header-logo {
  display: inline-block;
}
.header-title {
  float: left;
  text-align: left;
  padding-top: 15px;
}
.header-info {
  float: right;
  text-align: right;
  padding-top: 15px;
}
.header-info p {
  margin-bottom: 5px;
}
.header-info a {
  color: #232323;
  font-size: 17px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #232323;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.header-info a:hover {
  border-bottom-color: transparent;
}
.header-title p, .header-info p {
  color: #232323;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 21px;
  font-weight: 500;
}

.footer {
  padding: 70px 0 30px;
}
.footer-inner {
  margin-bottom: 40px;
}
.footer-inner:after {
  content: "";
  display: table;
  clear: both;
}
.footer-inner-section {
  width: 25%;
  float: left;
}
.footer-inner-section h5 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #ffe400;
}
.footer-inner-section ul li {
  margin: 7px 0;
}
.footer-inner-section ul li a {
  color: #9f9f9f;
  font-size: 17px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.footer-inner-section ul li a:hover {
  color: #d4d4d4;
  border-bottom-color: #d4d4d4;
}
.footer-inner-section-phone, .footer-inner-section-adress {
  text-align: right;
}
.footer-inner-section-phone {
  margin-bottom: 35px;
}
.footer-inner-section-phone p {
  margin-bottom: 15px;
  font-size: 25px;
}
.footer-inner-section-adress {
  line-height: 1.4;
  font-size: 17px;
}
.footer-copyright:after {
  content: "";
  display: table;
  clear: both;
}
.footer-copyright-info {
  width: 575px;
  float: left;
}
.footer-copyright-info h4 {
  margin-bottom: 20px;
}
.footer-copyright-info h4 span {
  margin-right: 18px;
}
.footer-copyright-info p {
  color: #474747;
  line-height: 1.2;
  font-size: 17px;
}
.footer-copyright-map {
  float: right;
}
.footer-copyright-map a {
  color: #ffe400;
  font-size: 17px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffe400;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.footer-copyright-map a:hover {
  border-bottom-color: transparent;
}

/*Nav*/
.menu {
  height: 65px;
  background-color: #2e2e2e;
}

nav {
  width: 650px;
}
nav ul li {
  display: inline;
  width: 100%;
  height: 100%;
}
nav ul li a {
  font-family: "Ubuntu", sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 15px;
  margin-top: 25px;
}

.nav-logo {
  position: absolute;
  visibility: hidden;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .3s;
  -webkit-animation-iteration-count: infinity;
}

.basket {
  width: 309px;
  float: right;
  height: 100%;
  border-left: 1px solid #4d4d4d;
}

/* Pages */
.categories {
  padding: 15px 0 30px;
  text-align: center;
}
.categories .title-second {
  text-align: left;
  padding-left: 140px;
}
.categories-inner:after {
  content: "";
  display: table;
  clear: both;
}
.categories-item {
  width: 25%;
  float: left;
}
.categories-item-inner {
  display: block;
  width: 210px;
  height: 210px;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
.categories-item-inner:hover {
  border-color: #5c5c5c;
}
.categories-image {
  margin-bottom: 20px;
  height: 120px;
  line-height: 120px;
}
.categories-image img {
  vertical-align: bottom;
}
