.goods {
    padding-top: 30px;
    .title-second {
        .title-second-inner-subtitle {
            left: -45px;
            font-size: 37px;
            top: -35px;
        }
    }
    &-inner {
        -webkit-box-shadow: 0 2px 15px rgba(0,0,0,.5),
                    0 -2px 15px rgba(0,0,0,.5);
        -moz-box-shadow: 0 2px 15px rgba(0,0,0,.5),
                    0 -2px 15px rgba(0,0,0,.5);
        box-shadow: 0 2px 15px rgba(0,0,0,.5),
                    0 -2px 15px rgba(0,0,0,.5);
        @include clearfix;
        margin-bottom: 15px;
        .container {
        }
        &-item {
            width: 25%;
            height: $goods-height;
            float: left;
            overflow: hidden;
            position: relative;
            border: 1px solid transparent;
            img.item {
                margin-left: -100px;
                height: $goods-height;
            }
            .pouring {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(99,99,99,.4);
                @include transition (all, 0.5s, linear);
            }
            &-info {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 15px 7px 10px;
                text-align: center;
                z-index: 10;
                @include transition (all, 0.5s, linear);
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.7);
                    z-index: 5;
                    @include transition (all, 0.4s, linear);
                }
                h4 {
                    z-index: 20;
                    position: relative;
                }
                p {
                    margin-top: 2px;
                    z-index: 20;
                    position: relative;
                    font: {
                        size: 16px;
                    }
                }
                .btn-holder {
                    margin-top: 15px;
                    @include clearfix;
                    z-index: 20;
                    position: relative;
                    a {
                        opacity: 0;
                    }
                    .btn-yellow {
                        float: left;
                    }
                    .btn-transparent {
                        float: right;
                    }
                }
            }
            &:hover {
                .pouring {
                    background: rgba(99,99,99,.0);
                }
                .goods-inner-item-info {
                    &:before {
                        top: 0;
                    }
                    .btn-holder {
                        a {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &-item.expected {
            .extend {
                position: absolute;
                top: 75px;
                left: 0;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: $bold;
                color: $yellow;
                z-index: 20;
            }
            .pouring {
                background: rgba(0,0,0,.8);
            }
            .goods-inner-item-info {
                .btn-holder {
                    margin-top: 23px;
                    margin-bottom: 30px;
                    a {
                        opacity: 1;
                        text-transform: uppercase;
                        text-decoration: underline;
                        font-size: 14px;
                        font-style: italic;
                    }
                }
                &:before {
                    content: none;
                }
            }
        }
    }
}
.new-goods {
    margin-bottom: 30px;

}