/* Top nagigation */

$menu-height: 65px;

.menu {
    height: $menu-height;
    background-color: #2e2e2e;
}

nav {
    float: left;
    width: $nav-width;
    ul {
        li {
            display: inline;
            width: 100%;
            height: 100%;
            a {
                font-family: $main-font;
                color: $while-darken;
                text-transform: uppercase;
                font-weight: 600;
                margin-right: 15px;
                margin-top: 25px;
            }
        }
    }

}
.nav-logo {
    position: absolute;
    visibility: hidden;
}

.basket {
    float: right;
    width: $container-width - $nav-width - 1;
    height: $menu-height;
    border-left: 1px solid #4d4d4d;
}