$container-width: 960px;

$main-font: 'Ubuntu', sans-serif;
$main-font-size: 16px;
$main-font-color: #ffffff;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$main-bg: #232323;
$main-color: #ffe400;

$main-padding: 15px 0 30px;